
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 22px 92px 22px;
}

.header__menu {
  display: flex;
  justify-self: start;
}

.menu__links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link__list {
  font-size: 18px;
}

.link__main {
  text-decoration: none;
}

.link__main--current {
  text-decoration: none;
}

.link__item , 
.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-style: solid;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.address {
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.18px;
  font-family: "Railway", sans-serif;
  font-style: normal;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header__address {                                         
  justify-self: end;  
}


.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 20px 106px 50px;
  gap: 20px;
}

.cover__title-line {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 25px; /*  лишние пробелы */
  display: block;
}
/* Первая строка "ОНО" */
.cover__title-line:nth-child(1) {
  margin-left: 28px;
  margin-top: -15px;
}

/* Вторая строка "ТЕБЕ" */
.cover__title-line:nth-child(2) {
  margin-left: 340px;
  margin-top: -10px;
}

/* Третья строка "НАДО" */
.cover__title-line:nth-child(3) {
  text-align: right;
  margin-right: 20px;
}

.cover__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 50px 51px;
}
.cover__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
  color: white;
}

.text__cover {
  display: block;
  line-height: 125px;
  letter-spacing: 30px;
}

.text__middle {
  text-align: center;
}

.text__last {
  text-align: right;
  line-height: 120px;
}

.letter__spacing-normal {
  letter-spacing: 0;
}

.letter__spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 50px 51px;
}

.cover__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
}

.button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* LOTS */
.lots__title {
  padding: 179px 0 26px 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 24px;
  list-style: none;
}

.lots__card {
  max-width: 334px;
  min-height: 598px;
  flex-grow: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.card--cinema {
  background-image: url(../images/card-lot-01.jpg);
}

.card--book {
  background-image: url(../images/card-lot-02.jpg);
}

.card--picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin: 0;
}

.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__view-more {
  display: block;
  margin-left: 64px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  color: black;
}

/* ABOUT */
.about {
  margin-top: 120px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 0;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175;
  text-transform: uppercase;
  margin: 0;
}

.about__text {
  padding-top: 77px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  max-width: 688px;
}

.about__text p {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 180px 50px 82px;
}

.footer__address {
  justify-self: start;

}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer__link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  color: black;
}

.footer__link--current {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}